body{
    font-family: 'Poppins', sans-serif;
}
.blue{
    color:blue;
}
.heading{
    border-left:7px solid;
    border-image: linear-gradient(cyan ,blue );
    border-image-slice: 1;
    padding-left:5px;

}
.button{
    color:white;
    background-image:linear-gradient(cyan,blue);
    text-decoration:none;
    font-weight:bold;
    padding:2px;

    border-radius:5px;
}
section{
    display:flex;
    

}


.half-width{
    width:40%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 5%;
    padding-top:5%;

}
.half-width img{
    width:50%;
}

.mission{
    text-align: center;
    
}

.sec-flex{
    display:flex
}
.closer{
    padding-left:50px;
    display:inline-block;
    
}
.image{
    width:200px;
}
.illustrator-parent{
    display:flex;
    width:600%;
    
    box-shadow:2px 2px 2px solid;
    margin:20px;
    padding:10px;
}

#ill-1{
    background-color: cyan;
    width:30%;
    padding:20px;
    border-radius:10px;
    margin:20px;
}
#ill-2{
    background-color: pink;

    width:30%;
    padding:20px;
    border-radius:10px;
    margin:20px;
}
   
#ill-3{
    background-color: skyblue;

    width:30%;
    padding:20px;
    border-radius:10px;
    margin:20px;
}
   
    
  
